
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color:black;
}
header{
    background-color:black ;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
}
main div img{
    width: 40%;
    display: flex;
    margin: 0px 400px;
}
h1 {
    color: rgb(216, 34, 34);
    font-size: 50px;
    text-decoration:solid;
    text-align: center;
    justify-content: center;
 }

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
p{
    color: rgb(216, 34, 34);
    text-align: center;
    display: flex;
    justify-content: center;    
}

.billie{
    width: 250px;
    height: 250px;
    margin-left: 200px;
}
.mike{
    width: 250px;
    height: 250px;
}
.tre{
    width: 250px;
    height: 250px;
}
section div img{
    width: 90%;
    height: 100%;
    display: flex;
    padding: 20px;
}
section{
    display: flex;
    margin-top: 30px;
    gap: 100px;
    padding: 10px;
}
h2{
    text-align: center;
    color:rgb(216, 34, 34);

 }

footer div h2{
    text-align: center;
    color: rgb(216, 34, 34);
    font-size: 15px;
    margin: 200px;
}
main div a{
    margin: 50px 90px;
    font-size: 30px;
    text-decoration: solid;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 25%);
    }

@media screen and (min-widht: 600px){
   main{
    grid-template-columns: repeat(2, 1fr);
    grid-column: repeat(2, 50%)
   }
 }
@media screen and (min-widht: 1024px){
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 100%;)
}


